@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: 'Kantumruy Pro', sans-serif;
    src: url(/assets/font/KantumruyPro-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kantumruy Pro', sans-serif;
    background-color: var(--color-body);
}

main {
    height: 200vh;
}

:root {
    --filter-green: invert(38%) sepia(54%) saturate(465%) hue-rotate(106deg) brightness(88%) contrast(88%);
    --color-green: #116530;
    --color-blueGreen: #21B6A8;
    --color-neonGreen: #A3EBB1;
    --color-kellyGreen: #18A558;
    --color-body: #f3f5f8;
    --color-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.106);
}

header {
    z-index: 100;
}

header .modal-content {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.92) !important;
}

header .land-modal {
    width: 25px;
    height: 25px;
}

header .land-modal img {
    filter: var(--filter-green);
}

header .modal-header-img {
    width: 100px !important;
}

header .modal-header-img img {
    transform: scale(0.8);
}

header .modal-content .form-control:focus {
    box-shadow: none;
    border-color: var(--color-blueGreen);
}

header .group-signin-icon .sign-icon {
    width: 30px !important;
    height: 30px;
}

header .group-signin-icon .sign-icon img {
    width: 30px;
    height: 30px;
}

header .navbar-brand {
    max-width: 150px;
    transition: 0.3s;
    transform: scale(1.2);
}

header .navbar-brand img {
    width: 100%;
    object-fit: cover;
}

header .navbar-toggler {
    width: 55px;
    height: 55px;
    border: 0;
    transform: rotateY(180deg);
}

header .navbar-toggler img {
    filter: var(--filter-green);
}

header .nav-link {
    color: var(--color-green);
    font-size: 17px;
}

header .nav-item:hover .dropdown-menu {
    display: block;
}

header .header-profile {
    width: 50px;
    height: 50px;
}

header .header-profile img {
    border-radius: 50%;
}

header .dropdown-menu {
    border-color: #ddd;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
    transform: translateY(15px);
}

header .dropdown-menu::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
}

header .dropdown-menu::after {
    content: "";
    width: 30px;
    height: 15px;
    position: absolute;
    background-color: #ddd;
    border: 1px solid #ddd;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    top: -15px;
    left: 10px;
}

header .dropdown-menu li {
    line-height: 35px;
    padding: 0;
    padding-inline: 10px;
    transition: 0.3s;
}

header .dropdown-menu .dropdown-item .img-item {
    width: 10px;
    height: 10px;
}

header .dropdown-menu .dropdown-item .img-item img {
    width: 100%;
    transform: scale(1.5);
    filter: var(--filter-green);
}

header .dropdown-menu li .dropdown-item {
    transition: 0.3s;
}

header .dropdown-menu li:hover {
    background-color: var(--color-blueGreen);
}

header .dropdown-menu li:hover .dropdown-item {
    color: white;
    background: transparent;
    transform: translateX(10px);
}

header .offcanvas-header .profile-offCanva-img {
    width: 70px;
    height: 70px;
}

header .offcanvas-header .profile-offCanva-img img {
    width: 100%;
    /* height: 100%; */
    border-radius: 50%;
    object-fit: cover;
}

header .offcanvas-footer-img {
    width: 25px;
    height: 25px;
}

header .offcanvas-footer .offcanvas-footer-img img {
    width: 100%;
    object-fit: cover;
    filter: var(--filter-green);
}

header .search-lg {
    height: 120px;
    transition: 0.3s;
    z-index: -1;
    backdrop-filter: blur(3px);
}

header .search-lg .form-control {
    width: 400px;
    transform: translateY(55px);
    /* transition: 0.3s; */
}

/* ========> Tola <======== */
.img-icon {
    width: 20px;
    height: 20px;
}

.img-icon img {
    width: 100%;
    object-fit: cover;
}

.bg-kelly {
    background-color: var(--color-blueGreen);
}
.text-kelly {
    color: var(--color-blueGreen);
}

/* Hero Banner */
.hero-banner {
    width: 100%;
    height: 100vh;
}

.hero-banner .swiper {
    width: 100%;
    height: 100vh;
}

.hero-banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    background-image: none !important;
}

.hero-banner .custom-next {
    width: 40px;
    height: 40px;
    /* background: url('path-to-your-next-icon.svg') no-repeat center center; */
    background-size: contain;
}

.hero-banner .custom-prev {
    width: 40px;
    height: 40px;
    /* background: url('path-to-your-prev-icon.svg') no-repeat center center; */
    background-size: contain;
}

/* Landing about us */
.landing-about {
    width: 100%;
}

.landing-about p {
    word-break: break-all;
    word-wrap: break-word;
}

.badge-custom {
    width: 110px;
    height: 40px;
    font-size: 18px;
    border-radius: 15px;
    padding: 8px 10px 5px 10px !important;
    background-color: #21b6a785;
    font-weight: 600;
}

.badge-icon {
    width: 20px;
    height: 20px;
}

.badge-icon img {
    transform: scale(1.2);
}

.landing-about-img {
    width: 100%;
    height: 300px;
    background-color: #21B6A8;
}

.landing-about-item {
    border: 1px solid #ddd;
    height: 98.5px;
}

.landing-about-item-icon {
    width: 30px;
    height: 30px;
}

/* Landing History */
.landing-history {
    width: 100%;
}

.landing-history .owl-item {
    height: 300px;
}

.landing-history .owl-item-head {
    height: 30%;
}

.landing-history .owl-item-head p {
    color: var(--color-green);
}

.landing-history .owl-item-body {
    height: 70%;
    background-color: #f1f8f2;
}

.landing-history .owl-item-ruler {
    width: 200px;
    height: 150px;
    border-left: 3px solid var(--color-kellyGreen);
}

/* landing service */
.landing-service {
    width: 100%;
    /* height: 100vh;   */
}

.landing-service-group {
    height: 100%;
}

.landing-service-fan {
    width: 100%;
    height: 600px;
    /* background-color: #18A558; */
}

.landing-service-fan .fan-body {
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
}

.landing-service-fan .fan-head {
    max-width: 400px;
    height: 400px;
    position: absolute;
    left: 40px;
    top: 75px;
    animation: rotate 5s linear infinite;
    z-index: 2;
}

.landing-service-fan .fan-head img {
    position: absolute;
    top: 6px;
    transform: scale(1.2);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(360deg);
    }
}

.landing-service-list {
    height: 600px;
}

.landing-service-item {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgba(127, 255, 212, 0.139);
}

.landing-service-item-img {
    width: 100px;
    height: 100px;
}

.landing-service-detail {
    width: 100%;
    background-color: #116530;
}

.landing-service-detail-item {
    width: 100%;
    height: 450px;
    border-right: 1px solid white;
}

.landing-service-detail-head {
    color: white;
    font-weight: 600;
    border-left: 5px solid var(--color-kellyGreen);
}

.landing-service-detail-img {
    width: 100%;
    height: 180px;
    background-color: #21B6A8;
}

.landing-service-detail-number {
    position: absolute;
    font-family: "Ga Maamli", sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: white;
    bottom: -55px;
    right: 15px;
}

.cta-read-more-btn {
    border: 1px solid white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    overflow: hidden;
    display: inline-block;
    z-index: 2;
}

.cta-read-more-btn::before {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px 20px;
    content: "ចុចទីនេះ  →";
    text-align: center;
    color: #116530;
    font-weight: bold;
    top: 0;
    left: -100%;
    border-radius: 30px;
    background-color: white;
    transition: left 0.3s ease;
    z-index: 0;
}

.cta-read-more-btn:hover::before {
    left: 0;
}

/* Landing-blog */
.landing-blog {
    width: 100%;
    /* height: 100vh; */
}

.landing-blog .blog-card-item-1 {
    width: 100%;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    background-color: #18A558;
}

.landing-blog .blog-card-item-1::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.landing-blog .blog-card-item-2 {
    width: 48.5%;
    height: 400px;
    display: inline-block;
    overflow: hidden;
    background-color: #ddd;
}

.landing-blog .blog-card-item-2::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.972) 100%) !important;
}

.landing-blog .blog-card-item-1-txt {
    right: 0 !important;
    transition: 1s;
    z-index: 0;
}

.landing-blog .blog-card-item-1:hover .blog-link-overlay {
    opacity: 1;
}

.landing-blog .blog-card-item-2:hover .blog-link-overlay {
    opacity: 1;
}

.landing-blog .blog-link-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    background-color: #18a55797;
    opacity: 0;
    transition: 0.5s;
    backdrop-filter: blur(2px);
}

.landing-blog .blog-link-overlay-icon {
    width: 50px;
    height: 50px;
}

.landing-blog .blog-link-overlay-icon img {
    filter: invert(100%);
}

.landing-blog .blog-card-comment-icon {
    width: 30px;
    height: 30px;
}






/* Landing FAQ */
.landing-faq {
    width: 100%;
    /* height: 100vh; */
}

.landing-faq .accordion-collapse {
    transition: 0.5s;
}

.landing-faq .faq-question {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.landing-faq-img {
    width: 100%;
    height: 380px;
}

/* Landing-donation */
.landing-donation {
    height: 100vh;
    background-image: url('../img/background/donation-sec.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing-donation .donation-form {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.landing-donation .donation-form h3 {
    line-height: 80px;
    background-color: var(--color-kellyGreen);
}

.landing-donation .donation-form h4 {
    flex: 0 0 auto;
}


/* Landing contact */
.landing-contact {
    height: 100vh;
}

.landing-map {
    height: 400px;
    background-color: #116530;
}

.contact-detail {
    height: 300px;
}


/* Sign up page */
.sign-up {
    width: 100%;
    height: 100vh;
    background-image: url('../img/background/main-bg-sign.png');
    background-size: cover;
    background-position: center;
}
.sign-girl-prop{
    width: 550px;
    height: 550px;
    z-index: 2;
    bottom: -70px;
    left: -100px;
}
.sign-form-wrapper {
    width: 1200px;
    height: 600px;
    backdrop-filter: blur(3px);
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.131);
}

.sign-up .sign-decoration {
    background: transparent;
}
.sign-up .sign-decoration .sign-message-box{
    width: 300px;
    height: 300px;
    right: 0;
    top: 45px;
}
.sign-up .sign-form {
    border-radius: 100px 0 0 0 !important;
    /* background-image: url('../img/background/sign-bg.png'); */
}

.sign-up .sign-decoration::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background/sign-decoration.png');
}

.sign-logo {
    width: 180px;
}

.sign-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 7px;
}

.sign-icon img {
    filter: hue-rotate(1) brightness(0.2) saturate(100);
}

.sign-up .sign-form-body-content {
    width: 350px;
    height: 440px;
    background-color: rgba(255, 255, 255, 0.528);
    box-shadow: 1px 3px 7px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.form-control:focus {
    box-shadow: none;
}

.sign-form .form-check-label,
p {
    font-size: 14px !important;
}

.sign-form .sign-media-icon {
    width: 25px;
    height: 25px;
}

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .form-control:invalid,
.form-control.is-invalid {
    background-image: none !important;
}

.sign-up-lg {
    width: 100%;
    height: 100vh;
    background-image: url('../img/background/bg-sign-lg.png');
    background-position: center;
    background-size: cover;
}

.sign-up-lg .sign-form-bottom-icon {
    width: 25px;
    height: 25px;
    left: 10px;
    top: 5px;

}

.sign-up-lg .sign-form-bottom-icon img {
    transform: scale(1.25) translateX(-3px);
}

.sign-up-lg .form-prop {
    width: 300px;
    height: 100px;
}

.sign-up-lg .form-logo {
    width: 250px;
    height: 100px;
    transform: translateY(40px);
}

.sign-up-lg .sign-decoration-top {
    width: 100%;
    height: 40vh;
}

.sign-up-lg button{
    width: 100%;
    border-radius: 50px;
    border: 2px solid green;
    background-color: green;
}

.sign-up-lg .another-opt a {
    color: lightgreen;
    font-weight: 500;
}

.sign-up-lg .sign-form-bottom button:last-child {
    background-color: transparent;
    color: white;
    font-weight: 500;
}

.sign-up-lg .sign-form-bottom button:last-child:hover {
    background-color: green;
}
.sign-up-lg .btn-sign{
    background-color: green !important;
}
.sign-up-lg button span {
    font-weight: 500;
}

.sign-up-lg button:hover {
    background-color: lightgreen;
    color: black;
    border: 2px solid green;
}

.sign-up-lg button:hover span {
    color: black !important;
}

.offcanvas-sign {
    height: 480px !important;
    border-radius: 30px 30px 0 0;
}

.offcanvas-sign button {
    background-color: #18A558;
    border-color: #18A558;
}

.offcanvas-sign .img-icon {
    width: 25px;
    height: 25px;
}

.offcanvas-sign .img-icon img {
    transform: scale(1.1);
}
/* ========> Tola Close<======== */




/* ========> seaklim <======== */
/* seaklim */

.product-menu .navbar .btn{
    width: 70%;
 }
 .product-menu .navbar .dropdown:hover .dropdown-menu{
    display: block;
 }

 .product-menu .dropdown-menu{
    width: 70%;
    border-color: #ddd;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
    transform: translateY(45px);
}
.product-menu .dropdown-menu::before{
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
}
.product-menu .dropdown-menu::after{
    content: "";
    width: 40px;
    height: 15px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    top: -15px;
    left: 10px;
}
.product-menu .dropdown-menu li{
    padding-inline: 10px;
    transition: 0.3s;
}
.product-menu .dropdown-menu .dropdown-item .img-item{
    width: 10px;
    height: 10px;
}
.product-menu .dropdown-menu .dropdown-item .img-item img{
    width: 100%;
    transform: scale(1.5);
    filter: var(--filter-green);
}
.product-menu .dropdown-menu li .dropdown-item{
    transition: 0.3s;
}
.product-menu .dropdown-menu li:hover{
    background-color: var(--color-blueGreen);
}
.product-menu .dropdown-menu li:hover .dropdown-item{
    color: white;
    background: transparent;
    transform: translateX(10px);
}

header .product-menu .menu-nav .nav-item{
    /* width: 25%; */
    border-radius: 18px;
    text-align: center;
    padding: 5px 40px;    
    border: 1px solid #dfdfdf;
}
header .product-menu .menu-nav .nav-item .nav-link{
    padding: 0;    
}
.product-menu .menu-nav .nav-item-active{
    background-color: var(--color-blueGreen);
    border-radius: 18px;
    text-align: center;
    padding: 5px 30px;
    color: white;
}
.product-menu .menu-nav .nav-item-active a { 
    color: white;
}
.product-menu .menu-nav .nav-item:hover{
    background-color: var(--color-blueGreen);
}
.product-menu .menu-nav .nav-item:hover a{
    color: white;
}

/* hero banner */

/* .product-hero{
    padding-top: 150px;
}

.product-hero .hero-left .product-ads,
.product-hero .hero-right .product-ads{
    width: 100%;
    height: 36vh;
}

.product-hero .hero-left .product-ads:nth-child(1){
    background-color: var(--color-neonGreen);
}
.product-hero .hero-mid .product-ads{
    width: 100%;
    height: calc(37vh*2);
    overflow: hidden;
}

.product-hero .hero-left .product-ads .product-ads-content,
.product-hero .hero-right .product-ads .product-ads-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-hero .hero-left .product-ads .product-ads-content .image img,
.product-hero .hero-right .product-ads .product-ads-content  .image img{
    width: 100%;
    object-fit: fill;
    object-position: bottom;
} */
/* 
.hero-banner{
    width: 100%;
    height: 75vh;
    padding-top: 120px;
    background: linear-gradient(to left, var(--color-blueGreen), #F3F3F3);
}


.hero-banner .hero-img img{ 
    width: 100%;
} */
 
/* Profile Page */
.profile-hero{
    width: 100%;
    background: linear-gradient(to left, var(--color-blueGreen), #F3F3F3);
    height: 40vh;
}
.profile-hero img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 100% 80%;
}

.main-profile .profile-navbar{
    background-color: #F5F5F9;
}

.main-profile .profile-navbar .nav-pills .nav-link{
    font-weight: bold;
    color: #116530 ;
}

.main-profile .profile-navbar .nav-pills .nav-link.active{
    font-weight: bold;
    color: var(--color-blueGreen);
    background-color: transparent !important;
    border-bottom: 5px solid var(--color-blueGreen);
    border-radius: 0;
}
.main-profile .profile-info .profile-img{
    width: auto;
}
.main-profile .profile-info .profile-img img{
    width: 40%;
    height: 40%;
    border-radius: 100%;
    border: 1px solid #ddd;
}

.main-profile .profile-wrapper{
    transform: translateY(-100px);
}


.profile-info .description .info img{
    width: 18px;
    height: 18px;
}
.profile-info .description .info p{
    font-size: 15px;
    font-weight: 500;
    padding-left: 5px;
    margin: 0;
}
.profile-info .description .info.donation p{
    color: var(--color-kellyGreen);
}

.main-profile .media .profile-img{
    width: 10%;
}

.main-profile .media .post{
    width: 90%;
}

.main-profile .media .profile-img .pf-img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.main-profile .media .status p{
    font-size: 17px;
    font-weight: 400;
    word-wrap: break-word;
}

.main-profile .media .post .privacy a{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-blueGreen);
    text-decoration: none;
}
.main-profile .media .post .privacy a img{
    width: 12%;
    height: 12%;
}

.text-active{
    color: var(--color-blueGreen);
    font-weight: bold;
}


.main-profile .media .donation-post .content-owner-profile .image img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #ddd;
}

.main-profile .plan{
    height: 100%;
}

.main-profile .plan-wrapper .trash-collect .progress{
    height: 30px;
}
.main-profile .plan-wrapper .trash-collect .progress .progress-bar{
    height: 30px;
    background-color: var(--color-kellyGreen) !important;
}
.main-profile .plan-wrapper .trash-collect span{
    color: var(--color-kellyGreen);
    font-size: 15px;
    font-weight: bold;
}
.main-profile .plan-wrapper .recycle-collect .progress{
    height: 30px;
}
.main-profile .plan-wrapper .recycle-collect .progress .progress-bar{
    height: 30px;
    background-color: var(--color-green) !important;
}
.main-profile .plan-wrapper .recycle-collect span{
    color: var(--color-green);
    font-size: 15px;
    font-weight: bold;
}

.btn-green{
    width: auto;
    height: 30px;
    border: none;
    background-color: var(--color-blueGreen);
    color: white;
    font-weight: 500;
    border-radius: 12px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
}

.btn-green:hover{
    font-weight: 500;
    color: white;
    background-color: var(--color-green);
}

.purchase-history .product .product-img{
    width: 100px;
    height: 100px;
}
.purchase-history .product .product-img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* donation page */

.donation-hero{
    width: 100%;    
    background: linear-gradient(to left, var(--color-blueGreen), #F3F3F3, var(--color-neonGreen));
}
.donation-hero .hero-wrapper{
    background-image: url('../img/product/plant-growing-from-coins-glass-jar-blurred-nature.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.donation-hero .hero-wrapper .title h2{
    text-shadow: 2px 2px 5px #00FF00;
}

.donation-insight{
    width: 100%;
    height: 65vh;
    background-image: url('../img/background/green-paint-bg.png');
}

.donation-insight .title h1,
.achievement-content h1{
    color: var(--color-green);
    font-weight: bold;
}

.achievement-content img{
    filter: var(--filter-green);
}

.reason{
    background-image: url('../img/background/green-bg-3.jpg');
    background-size: cover;
    background-position: bottom;
    border-top: 50px solid transparent;
    border-image: url('../img/background/leaf-border.png') 35% round;
}
.reason .image img{
    border: 10px solid var(--color-kellyGreen);
}
.reason .paragraph{
    word-wrap: break-word;
    padding: 0 20px;
} 
.reason .paragraph p{
    font-size: 21px !important;
} 
.reason .paragraph h1,
.reason .image h1{
    text-shadow: 2px 2px 5px #00FF00;
}
.reason .paragraph p{
    color: var(--color-green);
    font-size: 22px;
}

.donation-choice .card{
    transition: 0.3s;
}

.donation-choice .card .card-img{
    width: 100%;
    height: 300px;
}

.donation-choice .title h2{
    color: var(--color-green);
}
.donation-choice .title hr{
    width: 150px;
    border: 3px solid red;
}

.donation-choice .goal .progress.tree-planting{
    height: 30px;
    background-color: var(--color-neonGreen);
}


.donation-choice .goal .progress.tree-planting .progress-bar{
    height: 30px;
    background-color: var(--color-kellyGreen);
}

.donation-choice-card{
    transition: 0.3s;
}

.donation-choice-card .card .description p{
    font-weight: 500;
    font-size: 18px;
}

.donation-choice-card:hover,
.donation-choice-card:hover .card{
    background-color: var(--color-neonGreen) !important;
    border: none !important;
}

.donation-choice-card:hover .progress{
    background-color: white !important;
    border: none !important;
}

.donation-choice-card:hover .card{
    color: white;
}

.donation-rating{
    background-image: url('../img/background/flower-bg.jpg');
    background-size: cover;
    background-position: bottom;
}

.donation-rating{
    border-top: 50px solid transparent;
    border-image: url('../img/background/leaf-border.png') 35% round;
}


.donation-rating .contact form{
    top: 43%;
}
.donation-rating .contact form .form-control{
    width: 40%;
}

/* donation-detail-page */

.donation-detail-hero{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('../img/environment-img/group-activists-friends-collecting-plastic-waste-beach-guys-show-thumb-up.jpg');
    background-size: cover;
    background-position: 60% ;
    z-index: 0;
}

.donation-detail-hero .hero-wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
}

.donation-detail-hero .hero-wrapper .article{
    height: 100vh;
}
.donation-detail-hero .hero-wrapper .article h1{
    color: white;
    text-shadow: 2px 2px 5px #00FF00;
}
.donation-form{
    background-image: url('../img/background/green-paint-bg.png');
    /* height: 89vh; */
}

.donation-form form{
    background-color: #F2F0ED;
    top: -180px;
}

.donation-form ul{
    border-bottom: 2px solid var(--color-green);
}
.donation-form .nav-pills .nav-item .nav-link{
    width: 100%;
    border-radius: 0 !important;
    background-color: transparent;
    color: rgba(0, 128, 0, 0.4);
    font-size: 22px;
    font-weight: bold;
}

.donation-form .nav-pills .nav-item .nav-link.active{
    width: 100%;
    color: var(--color-green);
    border-radius: 0 !important;
    border-bottom: 5px solid var(--color-kellyGreen) !important;
}
.custom-tooltip{
    --bs-tooltip-bg: white;
    --bs-tooltip-color: var(--color-green);
    box-shadow: 2px 2px 2px #ddd;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: bold;
}

.donation-form .form-select:focus{
    box-shadow: 0 0 0 0.25rem var(--color-kellyGreen);
    border: 0;
}
.donation-form .form-check-label{
    width: 50%;
    padding: 5px 0;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border: 3px solid var(--color-green);
    font-size: 20px;
    font-weight: bold;
    color: var(--color-green);
    cursor: pointer;
}

.donation-form .form-check-input:checked ~ .form-check-label{
    background-color: var(--color-blueGreen);
    background-color: green;
    color: white;
}


.donation-form .other-amount{
    border: 3px solid var(--color-green);
}
.donation-form .other-amount .form-control{
    outline: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}
.donation-form .other-amount .form-control:focus{
    box-shadow: 0 0 !important;
    border: 0 !important;
}

.donation-form .other-amount label{
    padding: 5px 10px;
    line-height: 40px;
    text-align: center;
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-green);
}

.donation-form .form-check-other:checked ~ .form-check-label, .form-check-other{
    display: none;
}
.donation-form .form-check-other:checked ~ .other-amount{
    display: flex !important;
}

.donation-form .form-check-input:checked ~ .message{
    display: block !important;
}

.donation-form .message textarea{
    box-shadow: 0 0 0 0.25rem var(--color-kellyGreen) !important;
    border: 0 !important;
}
.donation-form .btn-submit{
    width: 45%;
    padding: 5px 0;
    line-height: 40px;
    text-align: center;
    background-color: var(--color-blueGreen);
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.donation-form .btn-submit:disabled{
    background-color: var(--color-neonGreen);
    cursor: not-allowed;
}

.donation-form .information .image{
    max-height: 90vh;
}
.donation-form .information .image img{
    object-fit: cover;
}
.donation-form .information .article hr{
    width: 150px;
    border: 2px solid red;
    column-span:all;
}

.donation-form .information .article{
    column-count: 2;
    column-gap: 30px;
    word-break: break-all;
}

.donation-form .information .article h1{
    color: var(--color-green);
    column-span:all;
}

/* ========> seaklim Close <======== */

/* Footer */
footer {
    max-width: 100%;
    min-height: 400px;
    background-image: url("../img/background/footer-bg.png");
    background-position: center;
    background-size: cover;
    z-index: 100;
}

footer .footer-menu {
    width: 100%;
}

footer .footer-menu-img {
    width: 200px;
}

footer .footer-icon {
    width: 20px;
    height: 20px;
}

footer .foot-icon {
    width: 25px;
    height: 25px;
    transform: translateY(30px);
    filter: var(--filter-green);

}

footer .footer-icon {
    filter: invert(100%);
}

footer .footer-menu .icon-rotate {
    width: 25px;
    height: 25px;
}

footer .footer-decrition {
    text-align: justify;
    font-size: 17px;
    font-weight: 500;
    max-width: 400px;
}

footer .footer-menu ul li a {
    color: black;
    line-height: 30px;
}

footer .footer-menu ul li a:hover {
    color: var(--color-kellyGreen);
}

footer .footer-email {
    /* width: 400px; */
    background-color: var(--color-kellyGreen);
}

footer .form-control {
    max-width: 500px;
}

footer .border-footer {
    border-right: 2px solid #ddd;
}

footer .footer-copy-right {
    width: 100%;
    height: 60px;
}

/* laptop */
@media (max-width: 1200px) {
    /* ===> Tola <=== */
    header .nav-link,
    .breadcrumb-item {
        font-size: 16px;
    }

    header .breadcrumb {
        display: none !important;
    }

    .landing-about p {
        font-size: 18px !important;
    }

    .landing-service-fan .fan-head {
        left: 0px;
        top: 75px;
    }
    .landing-service-fan .fan-body {
        top: 0;
        left: 0px;
    }
    .blog-card-item-2 {
        width: 48.3% !important;
    }
    .sign-girl-prop{
        left: -150px;
    }



    /* ====> SeakLim <=== */
    .product-menu .navbar .btn {
        padding: 5px;
     }
     header .nav-link, .breadcrumb-item{
         font-size: 16px;
        }
    header .breadcrumb{
        display: none !important;
    }
    /* donation-page */
    .donation-rating .contact form .form-control{
        height: 35px;
        font-size: 12px;
    }
    
    /* donation detail page */
    .donation-form form{
        left: 0;
    }

}

@media (max-width: 1080px){
    .landing-service-fan .fan-head {
        left: 0px;
        top: 75px;
    }
    .landing-service-fan .fan-body {
        top: 0;
        left: -20px;
    }
}

/* Ipad-pro */
@media (max-width: 992px) {

    /* ===> Tola <=== */
    header .navbar-brand {
        transform: scale(1);
    }

    header .nav-item:focus .dropdown-menu {
        display: none;
    }

    header .nav-item .nav-link {
        padding-left: 10px;
    }

    header .dropdown-menu {
        border: none;
        padding: 0;
        transform: translateY(0);
    }

    header .dropdown-menu::before {
        display: none;
    }

    header .dropdown-menu::after {
        display: none;
    }

    header .search-lg {
        display: none;
    }

    header .search-sm {
        width: 800px;
    }

    header .search-sm .form-control {
        background-color: #ddd;
        border: 1px solid var(--color-kellyGreen);
    }

    header .search-sm .form-control:focus {
        box-shadow: none;
        /* border: none; */
        outline: none;
    }

    header .search-sm::before {
        font-family: "Font Awesome 6 Free";
        content: "\f002";
        font-weight: 900;
        position: absolute;
        top: 23px;
        left: 28px;
        color: var(--color-kellyGreen);
    }

    footer .footer-menu ul li a {
        color: black;
        line-height: 30px;
    }

    footer .border-footer {
        border: none;
    }

    footer .foot-icon {
        transform: translateY(-30px);
    }

    .landing-service-list {
        height: 415px;
    }

    .landing-blog .blog-card-1 {
        height: 300px;
    }




    /* ===> Seaklim <=== */
    header .product-menu .menu-nav .nav-item,
    header .product-menu .menu-nav .nav-item-active{
        border-radius: 18px;
        text-align: center;
        padding: 5px 15px;
    }
    
    
    .product-menu .dropdown-menu{
        border-color: #ddd;
        box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
        transform: translateY(40px);
    }
    
    
    /* profile-page */
    .main-profile .profile-info .profile-img img{
        width: 20%;
        height: 20%;
    }
    
    .main-profile .profile-navbar{
        padding: 0 !important;
    }
    .main-profile .profile-wrapper{
        transform: translateY(-20px);
        padding: 0 !important;
    }
    .main-profile .media .profile .profile-img .pf-img {
        width: 50px;
        height: 50px;
    }
    
    .main-profile .profile-navbar,
    .main-profile .profile-info,
    .main-profile .plan-wrapper,
    .main-profile .plan-wrapper,
    .main-profile .card{
        box-shadow: none !important;
    }
    
    /* donation-page */
    .reason .paragraph p{
        font-size: 17px !important;
    }
    .donation-choice .card .card-img{
        height: 200px;
    }
    /* donation-page */
    .donation-insight{
        height: 55vh;
    }
    .donation-rating .contact form .form-control{
        height: 20px;
        font-size: 12px;
    }
    .donation-rating .contact form .btn-green{
        font-size: 11px;
        height: 20px;
    }

    /* donation-detail page */
    .donation-detail-hero{
        height: 70vh;
        background-position: top;
    }
    .donation-detail-hero .article{
        height: 70vh !important;
    }

    .donation-form form{
        top: -140px;
        width: 100%;
    }

    .donation-form .information .image{
        /* height: 40vh; */
    }

}

/* Ipad-mini */
@media (max-width: 768px) {
     /* ===> Tola <=== */
    .blog-card-item-2 {
        width: 100% !important;
    }

    .blog-card-item-1 {
        height: 400px;
    }


    /* ===> Seaklim <=== */
    .product-menu .dropdown-menu{
        border-color: #ddd;
        box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
        transform: translateY(40px) translateX(70px);
    }
    
     header .product-menu .menu-nav .nav-item,
     header .product-menu .menu-nav .nav-item-active
     {
           padding: 5px 10px; 
     }

     /* profile-page */
     .main-profile .profile-info .profile-img img{
        width: 20%;
        height: 20%;
    }

     .main-profile .profile-navbar{
        padding: 0 !important;
     }
     .main-profile .profile-wrapper{
        transform: translateY(-20px);
        padding: 0 !important;
    }
    .main-profile .media .profile .profile-img .pf-img {
        width: 50px;
        height: 50px;
    }
    .main-profile .media .post {
        padding: 0 !important;
    }
    
   /* donation-page */
   .donation-insight{
        height: 50vh;
    }
    .donation-choice .card .card-img{
        height: 200px;
    }

    /* donation-detail-page */
    .donation-detail-hero{
        height: 60vh;
    }
    .donation-detail-hero .article{
        height: 60vh !important;
        justify-content: end !important;
        padding-bottom: 40px ;
    }
    .donation-detail-hero .article h1{
        font-size: 22px !important;
    }
    .donation-detail-hero .article p{
        font-size: 16px !important;
    }
    .donation-form .nav-pills .nav-item .nav-link{
        font-size: 16px;
    }
    .donation-form .form-check-label{
        font-size: 14px;
    }
    .donation-form .other-amount label{
        font-size: 14px;
    }
    .donation-form .btn-submit{
        font-size: 16px;
    }

    .donation-form form{
        top: -120px;
    }

    .donation-form .information .image{
        /* height: 40vh; */
    }

}

/* Smart-Phone */
@media (max-width: 576px) {

    /* ===> Seaklim <=== */
    header .product-menu .menu-nav .nav-item,
    header .product-menu .menu-nav .nav-item-active
    {
           padding: 5px 5px; 
    }

    /* profile-page */
    .main-profile .profile-info .profile-img img{
        width: 20%;
        height: 20%;
    }
     
    .main-profile .media .post{
        padding-left: 25px !important;
    }
    .main-profile .media .post .username h5{
        font-size: 15px;
    }
    
    .main-profile .media .post .username span{
        font-size: 13px;
    }
    .main-profile .media .post .post-date p{
        font-size: 13px;
    }
    .main-profile .media .post .privacy a{
        font-size: 11px;
    }
    .main-profile .profile-wrapper{
        transform: translateY(0);
        padding: 0 !important;
    }
    .main-profile {
        transform: translateY(-40px);
    }

    /* donation-page */
    .donation-hero .hero-wrapper{
        background-position-x: 65%;
    }

    .achievement-content h1{
        font-size: 20px;
    }
    .achievement-content p{
        font-size: 16px !important;
    }
    .donation-choice .card .card-img{
        height: 200px;
    }

    /* donation-detail-page */

    
    .donation-form .nav-pills .nav-item .nav-link{
        font-size: 14px;
    }
    
    .donation-form .btn-submit{
        font-size: 12px;
        width: 50%;
    }

    .donation-form form{
        left: 0;
        width: 100%;
    }
    .donation-form form h3{
        font-size: 20px !important;
    }
    .donation-form .information .image{
        /* height: 40vh; */
    }
    
    .donation-form .information .article p{
        font-size: 16px  !important;
    }
}